@media (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 1024px) {
    .carousel {
        .tns-item {
            img {
                max-width: 65%;
            }
        }
        .next {
            right: 28px;
        }
        .prev {
            left: 28px
        }
    }
    .footer {
        &__info {
            max-width: 449px;
            height: 250px;
            padding-top: 45px;
        }
        
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 710px;
    }
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        .header {
            &__oficial span, &__phone {
                font-size: 17px;
            }
            .button {
                font-size: 11px;
                width: 130px;
                
            } 
        }
        .button_main {
            width: 295px;
        }
    }
    .advantages {
        &__header {
            font-size: 29px;
        }
        &__logo {
            font-size: 17px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .carousel {
        .next {
            right: 10px;
        }
        .prev {
            left: -5px
        }
    }
    .catalog {
        &__content {
            padding: 0 40px 0 40px;
        }
        &__tab {
            width: 213px;
            height: 44px;
            line-height: 44px;
        }
    }
    .reviews {
        &-client:nth-child(n+2) {
            margin-top: 80px;
        }
    }
    .footer {
        &__social-item {
            width: 45px;
            height: 45px;
        }
        &__adr {
            font-size: 18px;
        }
        &__phone {
            font-size: 19px;
        }
        &__info {
            padding: 32px 55px 60px 55px;
            height: 225px;
            max-width: 391px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 530px;
    }
    .promo {
        .header {
            &__oficial_active {
                display: none;
            }
            &__phone {
                font-size: 18px;
            }
            .button {
                font-size: 12px;
                width: 150px;
                margin-top: 0;
            }
            
        }
        &__header, &__subheader {
            margin: 0 auto;
        }
        &__header {
            font-size: 31px;
        }
        &__subheader {
            margin-top: 12px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 60px;
        }
        .button, &__link {
            margin: 0 auto;
            margin-top: 54px;
        }
        &__link {
            margin-top: 20px;
        }

        .consultation {
            padding-top: 80px;
            &__description {
                margin-top: 60px;
            }
            .title_left {
                font-size: 34px;
            }
        }
    }
    
    .advantages {
        &__header {
            font-size: 25px;
        }
        &__information {
            flex-direction: column;
        }
        &__logo {
            font-size: 18px;
            margin-top: 20px;
        }
        &__text {
            font-size: 14px;
            margin-top: 12px;
        }
        &__block:nth-child(n+2) {
            .advantages__icon img {
                margin-top: 27px;
            }
        }
    }
    
    .consultation {
        padding-top: 60px;
        .title_left {
            font-size: 23px;
            text-align: center;
        }
        &__description {
            font-size: 17px;
            text-align: center;
            margin-top: 30px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        .tns-item {
            img {
                max-width: 80%;
            }
        }
        .next {
            right: -33px;
        }
        .prev {
            left: -33px
        }
    }
    .catalog {
        &-item:nth-child(odd) {
            margin-right: 5px;
        }
        &-item:nth-child(even) {
            margin-left: 5px;
        }
        &__content {
            padding: 0;
        }
        &-item {
            width: 260px;
            &__img {
                height: 185px;
            }
        }
    }
    .reviews {
        &-client {
            &__comment {
                min-height: 100px;
                overflow: hidden;
                transition: 1.5s all;
                &_active {
                    max-height: 100px !important;
                }
            }
            &__link {
                display: block;
                font-size: 17px;
                color: rgb(28, 112, 221);
                cursor: pointer;
            }
        }
        &-client:nth-child(n+2) {
            margin-top: 60px;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
    }
    .contaner {
        max-width: 100%;
    }
    .promo {
        min-height: 505px;
        .header {
            flex-direction: column;
            align-items: center;
            &__contacts {
                width: 100%;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .button {
                    margin: 0;
                    width: 140px;
                    font-size: 11px;
                    margin-top: 4px;
                }
            }
            &__phone {
                font-size: 16px;
            }
        }
        &__header {
            font-size: 23px;
            text-align: center;
        }
        &__subheader {
            font-size: 16px;
            text-align: center;
            margin-top: 3px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__icons_disabled {
            display: none;
        }
        .button_main {
            height: 40px;
            width: 250px;
            font-size: 15px;
            margin-top: 50px;
        }
    }
    .advantages {
        .title {
            font-size: 20px;
        }
    }
    .consultation {
        .title_left {
            font-size: 19px;
        }
        .feed-form {
            width: 250px;
            margin-top: 23px;
        }
        &__description {
            font-size: 15px;
            margin-top: 18px;
        }
    }
    .carousel {
        .tns-item {
            img {
                max-width: 73%;
            }
        }
        .next {
            right: 2px;
        }
        .prev {
            left: 2px
        }
    }
    .catalog {
        padding-bottom: 75px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            flex-direction: column;
            margin-top: 35px;
        }
        &__tab {
            width: 210px;
            margin: 5px 0;
            font-size: 15px;
        }
        &-item:nth-child(even) {
            margin-left: 0;
        }
        &-item:nth-child(odd) {
            margin-right: 0;
        }
        &__content {
            justify-content: center;
        }
    }
    .reviews {
        &-client {
            margin-top: 60px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &__comment {
                margin-top: 10px;
                width: 260px;
            }
            &__img {
                max-width: 135px;
                max-height: 135px;
                margin-right: 0;
            }
            &__info {
                margin-top: 10px;
            }
        }
    }
    .footer {
        &__info {
            height: 191px;
            width: 100%;
            padding-top: 22px;
        }
        &__phone {
            margin-bottom: 24px;
        }
        &__adr {
            margin-bottom: 28px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            i {
            font-size: 22px;
            }
        }

    }
}

@media (max-width: 425px) {
    .carousel {
        .prev, .next {
            display: none;
        }
    }
    .catalog {
        &-item {
            &__content {
                width: 50%;
                margin-left: 0;
            }
            
        }
    }
}
@media (max-width: 320px) {
    .catalog {
        &-item {
            min-height: 425px;
            &__footer {
                .button_mini {
                    width: 96px;
                    height: 34px;
                    font-size: 13px;
                }
            }
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 17px;
            }
            &__descr {
                display: none;
            }
            &__link {
                margin-top: 14px;
            }
            hr {
                margin-bottom: 10px;
                margin-top: 17px;
            }
            &__content {
                width: auto;
                margin-left: 20px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
        }
    }
}